#SignupDiv{
    margin: 100px 10px 100px 250px; 
    width: 250px;
    text-align:center;
    background-color: white;
}

#DisplaySignupDiv {
    margin: 50px 0 0 0; 
    width: 100%;
    height: 800px;
    background-image: url(signupBackground.jpg);
}