#DisplaySignupDiv {


    background-color: #c9f1fd;
    margin: 2% 0% 2% 0%; 
    padding: 2% 0% 2% 0%; 
    border-radius: 15px;
   
   

}

#SignupDiv{
    width: 23%;
    text-align:center;
    background-color: white;
    margin: 0 auto;
    padding: 2% 0% 2% 0%; 
    border-radius: 15px;



}

